@keyframes hoverpop {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes fadeUp {

  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeInfromRight {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes onAirLight {
  0% {
    filter: drop-shadow(0 0 20px #f11313);
  }

  50% {
    color: #ff0000;
    filter: drop-shadow(0 0 10px #f11313);
  }

  100% {
    filter: drop-shadow(0 0 20px #f11313);
  }
}



/**
 * Animation Classes
 */

.animate {
  // IE 11 flexbox fix
  display: -ms-flexbox;
  -ms-flex-direction: column;

  &[data-animation-type='fadeUp'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeUp 0.5s ease-in-out forwards;
    }
  }

  &[data-animation-type='fadeIn'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeIn 0.5s ease-in-out forwards;
    }
  }


  &[data-animation-type='fadeInfromRight'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeInfromRight 0.5s ease-in-out forwards;
    }
  }

}