@keyframes hoverpop {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes fadeUp {

  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeInfromRight {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes onAirText {
  0% {
    color: $color-red;
  }

  50% {
    color: $color-red;
  }

  51% {
    color: #fd3e2a;
  }

  100% {
    color: #fd3e2a;
  }
}

@keyframes onAirBulb {
  0% {
    background-color: $color-red;
  }

  50% {
    background-color: $color-red;
  }

  51% {
    background-color: #fd3e2a;
  }

  100% {
    background-color: #fd3e2a;
  }
}



/**
 * Animation Classes
 */

.animate {
  // IE 11 flexbox fix
  display: -ms-flexbox;
  -ms-flex-direction: column;

  &[data-animation-type='fadeUp'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeUp 0.5s ease-in-out forwards;
    }
  }

  &[data-animation-type='fadeIn'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeIn 0.5s ease-in-out forwards;
    }
  }


  &[data-animation-type='fadeInfromRight'] {

    &[data-animation-direction='in'] {
      html.js & { opacity: 0; }
    }

    &.animate-start {
      animation: fadeInfromRight 0.5s ease-in-out forwards;
    }
  }

}