
%page-margins {
  padding-left: 5vw;
  padding-right: 5vw;

  @include media-query(lap-and-up) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.position--spotlight {
  margin-left: auto;
  margin-right: auto;
}

.expand {
  width: 100%;
}

.l-padded-v {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.l-table {

  & > * {
    padding: 1rem;
  }
}

.l-table--alternate-rows {

  & > *:nth-child(odd) {
    background: rgba(black, 0.2);
  }
}