<div class="block block--player">
  <div class="l-contain--wide">
    {{ content.top }}
    <div class="flexgrid">
      <div class="flexgrid__item one-whole lap-one-whole desk-two-thirds">
        {{ content.player }}
      </div>
      <div class="flexgrid__item one-whole lap-one-whole desk-one-third">
        {{ content.recommended }}
      </div>
    </div>
    {{ content.bottom }}
  </div>
</div>