.l-directory {
  margin: 0 auto;
  max-width: $desk-wide-start;

  @include media-query(lap-and-up) {
    display: grid;
    grid-column-gap: 2.125rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @include media-query(desk) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .l-region--sidebar {
    grid-row: 1;
    grid-column: 1 / -1;

    @include media-query(desk) {
      grid-row: 1;
      grid-column: 1 / span 3;
    }
  }

  .l-region--content {
    grid-row: 2;
    grid-column: 1 / -1;

    @include media-query(desk) {
      grid-row: 1;
      grid-column: 4 / -1;
    }
  }
}