.l-contain,
%l-contain {
  @extend %cf;

  position: relative;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  max-width: $desk-wide-start;

  @include media-query(lap-and-up) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.l-contain--skinny {
  @extend %l-contain;
  width: 100%;
  max-width: $desk-start;
}

.l-contain--skinny-max {
  @extend %l-contain;
  width: 100%;
  max-width: $lap-start;
}

.l-contain--wide {
  @extend %l-contain;

  max-width: $desk-wide-start + 10em;
}

.l-contain--flush {
  padding: 0;
}

.l-skinny {

  .l-contain {
    width: 100%;
    max-width: $desk-start;
  }
}

.l-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-padinside {
  padding: 3rem 1rem;

  @include media-query(lap-and-up) {
    padding: 4rem 2rem;
  }

  @include media-query(desk) {
    padding: 4rem 3rem;
  }

  &.l-constrain,
  &.l-constrain--skinny {
    padding-right: 0;
    padding-left: 0;

    @include media-query(lap-and-up) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


.l-padinside-small {
  padding: 1rem;

  @include media-query(lap-and-up) {
    padding: 2rem;
  }

  @include media-query(desk) {
    padding: 2rem;
  }

  &.l-constrain,
  &.l-constrain--skinny {
    padding-right: 0;
    padding-left: 0;

    @include media-query(lap-and-up) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


.l-padvert {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-query(lap-and-up) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


.l-height90vh,
.l-height100vh {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.l-height90vh { height: 90vh; }
.l-height100vh { height: 100vh; }


.l-flex-center {
  justify-content: center;
}