.block {
  // padding: 2rem 0;
}

  .block__title {
    color: $yellow-orange;

    html.backgroundcliptext & {
      display: inline-block;
      background: linear-gradient(to right, $yellow, $yellow-orange);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


/**
 * Types (Bundles)
 */

.block--slider {
  padding: 0;
}

.block--padded {
  padding: 1rem;
}

.block--padded-v {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/**
 * Unique Blocks
 */

.block--local-tasks-block { padding: 0; }


.block--local-tasks {
  padding: 0;

  @include media-query(lap-and-up) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .tabs {
    margin-bottom: 0;

    @include media-query(lap-and-up) {
      margin-bottom: 0;
    }
  }
}


.block--mobile-navbar {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  @include media-query(lap-and-up) {
    display: none;
  }
}


.block--search-form-block {
  display: flex;
  align-items: center;

  form {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .form-item {
    flex-grow: 1;
  }

  input {
    outline: none;
  }

  label {
    @extend .is-vishidden;
  }

  .form-search {
    padding: 0.5em 1.5em;
    width: 100%;

    border-radius: 50px;
    background: rgba(255, 255, 255, 0.07);
    border: 0;
    color: white;
    font-style: italic;

    &:focus, &:active {
      box-shadow: inset 0 0 0px 2px rgba(white, 0.2);
      background: rgba(255, 255, 255, 0.1);
    }

    &::placeholder {
      font-style: italic;
    }
  }

  .form-actions {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
  }

  .form-submit {
    @extend .hide-text;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url('../img/icons/icon--search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
  }
}

.block--system-messages {
  padding: 0;
}


.block--breadcrumbs {
  padding: 1.5rem 0;
}


.block--views-blockvideos-block-recommended {
  background-image: 
    linear-gradient(to bottom, #1f1f1f 10vw, transparent), 
    url('../img/swirls.svg');
    background-size: auto 100vw;
    background-position: top -25vw center;
    background-repeat: no-repeat;

  @include media-query(lap-and-up) {
    background-image: 
    linear-gradient(to bottom, #1f1f1f 10vw, transparent), 
    url('../img/swirls.svg');
    background-size: auto 100vw;
    background-position: center;
  }

  .block__title {
    text-align: center;

    @include media-query(desk) {
      font-size: 3vw;
      text-align: left;
      word-spacing: 100vw;
    }
  }

  .icongroup {
    display: none;
  }

  .slick {
    .slick-arrow {

      @include media-query(lap) {
        top: 24%;
      }

      @include media-query(desk) {
        top: 21%;
      }
    }
  }
}


.block--system-branding-block {

  .site-logo {
    display: block;
  }
  
  #logo {
    height: 40px;
    width: 299px;

    @include media-query(lap-and-up) {
      height: 65px;
    }
  }
}

.block--player {
  background-color: $black;
  // background: linear-gradient(to right, #0c0c0c, #292929, #0c0c0c);
  color: white;
}


.block--wlu-branding {

  svg {
    max-width: 300px;
  }
}


.block--site-search-index {
  
  .view__header {
    text-align: center;
    
    h1 {

    }
  }

  .view__filters {
    margin-bottom: 3rem;
    text-align: center;

    .form-item-keywords {

      label {
        @extend .is-vishidden;
      }
    }

    input[name=keywords] {
      width: 30rem;
      max-width: 100%;
      font-size: 1rem;
      text-align: center;
    }

    input[type=submit] {
      @extend .is-vishidden;
    }
  }

  .view__empty {
    text-align: center;
  }
}