.block {
  padding: 2rem 0;
}

  .block__title {
    color: $yellow-orange;

    html.backgroundcliptext & {
      display: inline-block;
      background: linear-gradient(to right, $yellow, $yellow-orange);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


/**
 * Types (Bundles)
 */

.block--slider {
  padding: 0;
}


/**
 * Unique Blocks
 */

.block--local-tasks-block { padding: 0; }

.block--local-tasks {
  padding: 0;

  @include media-query(lap-and-up) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .tabs {
    margin-bottom: 0;

    @include media-query(lap-and-up) {
      margin-bottom: 0;
    }
  }
}

.block--search-form-block {
  display: flex;
  align-items: center;

  form {
    display: flex;
    width: 100%;
  }

  .form-item {
    flex-grow: 1;
  }

  input {
    outline: none;
  }

  .form-search {
    padding: 0.5em 1.5em;
    width: 100%;

    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    color: white;
    font-style: italic;

    &:focus, &:active {
      box-shadow: inset 0 0 0px 2px rgba(white, 0.2);
    }

    &::placeholder {
      font-style: italic;
    }
  }

  .form-actions {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .form-submit {
    @extend .hide-text;
    height: 30px;
    width: 30px;
  }
}

.block--system-messages {
  padding: 0;
}

.block--system-branding-block {

  .site-logo {
    display: block;
  }
  
  #logo {
    height: 40px;
    width: 299px;

    @include media-query(lap-and-up) {
      height: 65px;
    }
  }
}

.block--player {
  background: $black url('../img/swirls.svg') no-repeat;
  background-size: cover;
  color: white;
}