.icon--social {
  @extend .hide-text;
  display: block;
  width: 20px;
  height: 20px;
  background: red;
}

.icon--behance {        fill: #0057ff; }
.icon--bitbucket {      fill: #0747a6; }
.icon--drupal {         fill: #0077C0; }
.icon--envelope {       fill: #6d6d6d; }
.icon--facebook {       fill: #3b5999; }
.icon--github {         fill: #24292e; }
.icon--google-plus {    fill: #dd4b39; }
.icon--instagram {      fill: #e4405f; }
.icon--linkedin {       fill: #0077B5; }
.icon--pinterest {      fill: #bd081c; }
.icon--twitter {        fill: #55acee; }
.icon--vimeo {          fill: #1ab7ea; }
.icon--youtube {        fill: #cd201f; }

.icon--play {

}

  .icon--play__circle {
    fill-opacity: 0.4;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-opacity: 0.6;
  }

  .icon--play__play {
    fill: #FFFFFF;
  }
