.icongroup {

  .icongroup__icon {

  }

  .icongroup__text {
    font-size: 0.777em;
  }
}

  .icongroup--inline {

    & > * {
      display: inline-block;
    }

    html.flexbox & {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }