.list--plain {
  list-style-type: none;

  li {
    
  }
}

.list--icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -0.2em;

  li {
    margin: 0 0.2em 0.2em;
    line-height: 1;
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }
}