.page {
  margin-bottom: 2rem;
}

.page--full {
  margin-bottom: 4rem;

  .page__header {
    
  }
}


.page--search-index {

  .page__body {

    > *:last-child {
      margin-bottom: 0;
    }

    * {
      display: inline;
    }
  }
}