.person {

}

  .person--teaser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    
    .person__title {
      margin: 0;
      font-size: 1em;
      // @include font('body', normal);
    }

    .person__portrait {
      flex: 0 0 60px;
      margin-right: 1em;
      border-radius: 50%;
      overflow: hidden;
    }

    .person__contact {
      margin-top: 0.5rem;

      .list--icons {
        margin-bottom: 0;
      }
    }
  }