.video {
  position: relative;

  .video__header {
    
  }

  .video__image {
    background: #dedede;
  }

  .video__content {
    padding: 1rem;
    background: white;
    color: $black;
  }
}

  .video__tags {

    .field__value {
      display: inline-block;
      padding: 0.4em 1em 0.6em;

      font-size: 0.666em;

      border-radius: 5px;
      background: rgba(0, 0, 0, 0.2);
      color: $black;

      a {
        display: block;
      }
    }
  }


/**
 * Full display
 */
.video--full {
  background: $black;
  color: white;

  .l-contain {
    max-width: 84em;
  }

  .video__content {
    background: white;
    color: $black;
  }
}


/**
 * Teaser
 */
.video--teaser {
  position: relative;
  margin-bottom: 1rem;
  background: #ffffff;
  color: $black;
  transition: transform 0.1s ease-in-out;
  /* box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1); */

    &:hover {
      
      .icon--play__circle {
        stroke-width: 2px;
        stroke-opacity: 1;
      }
    }

  /*
   * Modifiers
   */

  &.video--inactive {
    
    &:hover, &:active, &:focus {

    }
  }

  &.video--active {

    &:hover, &:active, &:focus {
      
      .video__title {
        background-size: 100% 100%;
      }
    }
  }


  /* Components */

  .video__header {
    position: relative;
    // background: #dedede;
  }

    .icongroup {
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: white;
    }

    .icongroup__text {
      text-shadow: 0 2px 10px $black;
      text-align: center;
      font-weight: 700;
    }

  .video__content {
    padding: 1rem;
    font-size: 0.888em;
    background: transparent;
  }

  .video__title {
    display: inline;
    // background-image: linear-gradient(to bottom, $yellow, $yellow-orange);
    // background-size: 100% 2px;
    // background-repeat: no-repeat;
    // background-position: bottom center;

    font-size: 1.222em;
    line-height: 1.4;

    transition: background-size 0.2s ease;
  }

  .video__release-date {
    margin-top: 0.5em;
    color: rgba($black, 0.8);
    font-size: 0.777em;
  }

  .video__description {
    margin-top: 1em;
    font-size: 0.9em;
  }
}


/**
 * Playlist
 */
.video--playlist {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;

  .video__header {
    position: relative;
    flex: 0 0 40%;

    .icongroup {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 50%;
    }
  }

  .video__image {
    background: #404040;
  }

  .video__content {
    padding: 0.2rem;
    padding-left: 1em;
    background: transparent;
    color: white;
  }

    .video__title {
      margin: 0;
      font-size: 0.888em;
    }
}